.search_area{
    float: right;
}

.restaurant_nav, .restaurant_nav ul {
    padding: 0;
    background-color: greenyellow;
    list-style-type: none;
}

.restaurant_nav > li {
    display: inline-block;
    vertical-align: text-top;
}

.restaurant_nav .sub_nav {
    position: absolute;
    list-style-type: none;
}

.restaurant_nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-decoration: none;      /* remove decoration */
    text-align: center;
    display: block;
    width: auto;
    height: auto;
    padding: 20px;
}

.sub_nav{
    width: auto;
    list-style-type: none;
    background-color: black;
    padding-inline-start: 0;
    display: none;
}

.restaurant_nav .sub_nav a{
    color: white;
    text-align: right;
    background-color: black;
    padding-right: 0.5em;
}

.restaurant_nav > li > a:hover {
    background-color: orange;
}

.restaurant_nav .sub_nav a:hover{
    background-color: orange;
}

.service_nav:hover .sub_nav {
    display: block;
}

.restaurant_banner img {
    margin: 5em;
    width: 15em;
    height: auto;
    overflow: hidden;
}

.restaurant_banner {
    width: 15em;
}

.restaurant_content {
    width: auto;
    overflow-wrap: break-word;
    margin-bottom: 25px;
}

.restaurant_content td{
    vertical-align: top;
    text-align: left;
    width: 25em;
    height: auto;
    padding-right: 10px;
    padding-bottom: 50px;
}

.restaurant_content .content_header
{
    font-size: 3rem;
    text-align: center;
    font-style: italic;
}

.restaurant_footer {
    margin-top: 20px;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    display: inline-block;
    box-shadow: 10px 10px 10px red;
    color: wheat;
}

.restaurant_footer table {
    width: 100%;
}

.restaurant_copyright {
    text-align: right;
}

.footer_menu ul {
    display: inline-block;
    width: 23%;
    list-style-type: none;
}

.footer_menu_header {
    font-weight: bold;
    text-align: center;
}

.footer_menu_header ul {
    display: inline-block;
}

.menu_cat
{
    padding: 10px;
    color: red;
}

.weigh_bold {
    font-weight: bold;
}

.width_full {
    max-width: 100%;
    width: 100%;
}

.button_buy, .button_submit {
    color: white;
    width: 100%;
    height: 40px;
    background-color: red;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.button_buy:hover {
    background-color: orchid;
}

.product_detail {
    width: 233px;
    padding: 10px;
    margin: 5px;
    height: auto;
    float: left;
    border: 1px solid black;
}

.product_detail img {
    object-fit: cover;
    width: 100%;
    height: 175px;
}

.product_detail p {
    font-weight: bold;
}

.product_detail del {
    color: red;
}

.product_detail span {
    color: green;
}

.contact_banner {
    width: 100%;
    height:500px;
}

.contact_banner iframe{
    width: 100%;
    height: 100%;
}

.contact_info {
    margin-top: 20px;
}

.info input {
    width: 100%;
}